<h1>Service in Angular</h1>

@for (student of studentData; track $index) {
    <h3>{{student.name}} | {{student.age}} | {{student.email}}</h3>
}

<table>
@for (product of productList; track $index) {
    <tr>
        <td><img src="{{product.thumbnail}}" width="100" alt=""></td>
        <td>
            <ul>
                <li><b>Name :</b> {{product.title}}</li>
                <li><b>Price :</b> {{product.price}}</li>
                <li><b>Rating :</b> {{product.rating}}</li>
                <li><b>Category :</b> {{product.category}}</li>
               </ul>
        </td>
    </tr>
}

</table>
