<!-- Service in Angular :: Own Json Server :==> -->
<app-service-user></app-service-user>
<hr>
<!-- Service in Angular :: Using URL :==> -->
<app-service-product></app-service-product>
<hr>
<!-- Service in Angular :: Using Local :==> -->
<app-service-student></app-service-student>
<hr>
<!-- Life Cycle Methods in Angular -->
<app-lifecycle-methods></app-lifecycle-methods>
<hr>
<!-- Custom Pipes in Angular -->
<app-custom-pipe></app-custom-pipe>
<hr>
<!-- Predefined Pipes in Angular -->
 <app-perdefine-pipe></app-perdefine-pipe>
<hr>
<!-- Pass Data child to parent component -->
<app-passdata2-parentcomponent></app-passdata2-parentcomponent>
<hr>
<!-- Pass Data parent to child component -->
 <app-passdata-parentcomponent></app-passdata-parentcomponent>
 <hr>
<!-- Template Driven Forms -->
<app-form-template-driven></app-form-template-driven>
<hr>
<!-- Form Grouping in Reactive Forms -->
<app-form-reactive-grouping></app-form-reactive-grouping>
<hr>
<!-- Basic Reactive Forms -->
<app-form-reactive></app-form-reactive>
<hr>
<!-- Static & Dynamic Routing -->
<app-dashbord></app-dashbord>
<hr>
<!-- *ngSwitch Directives -->
<app-directive-ngswitch></app-directive-ngswitch>
<hr>
<!-- *ngIf Directives -->
<app-directive-ngif></app-directive-ngif>
<hr>
<!-- *ngFor Directives -->
<app-directive-ngfor></app-directive-ngfor>
<hr>
<!-- For Loop Contextual Variables -->
<app-cf-for-cv></app-cf-for-cv>
<hr>
<!-- Effect -->
<app-effect></app-effect>
<hr>
<!-- Signal -->
<app-signal></app-signal>
<hr>
<!-- Control Flow | For Loop Angular 19 -->
<app-cf-for></app-cf-for>
<hr>
<!-- Control Flow | Switch Case Angular 19 -->
<app-cf-switch></app-cf-switch>
<hr>
<!-- Control Flow | if -->
<app-cf-if></app-cf-if>
